/*judul, winner, new game*/
body {
  background-color: #fffbd1;
  text-align: center;

  font-family: "Quicksand", sans-serif;
}
.msg-container{
  margin: 15px;
  transform: translateX(-57px);
}
.msg-container h1 {
  margin: 20px;
}
#msg {
  font-size: 25px;
}
#new-btn {
  margin: 35px;
  padding: 10px; 
  border-radius: 5px;

  background-color: #a2b9ef;

  transition: 0.3s;
}
#new-btn:hover {
  background:#8a9ecd;
  transform:scale(1.05);
}


/*box game, reset*/
.container {
  margin: 5px;

  display: flex;
  flex-direction: column;
  align-items: center;
}
.box-main {
  display: grid;
  grid-template-columns: repeat(3, 150px);
  gap: 0px;

  justify-content: center;
  align-items: center;
}
.box-main button {
  width: 150px;  
  height: 150px;

  padding: 10px;

  font-size: 60px;
  font-weight: bold;

  background-color: #bee6ff;
  border: 1px solid black;
  border-radius: 8px;

  cursor:pointer;
  transition:0.3s;
}
.box-main button:hover {
  transform:scale(1.05);
}
.box-main button:disabled {
  opacity: 1; /*membuat X/O tetap terlihat jelas walaupun tombol sudah disabled*/
  color: black;
}
.box-main button.x {
  color: #890303;
}
.box-main button.o {
  color: #027d02;
}
#reset {
  margin: 15px;
  padding: 10px;
  border-radius: 5px;

  background-color: #a2b9ef;

  transition: 0.3s;
}
#reset:hover {
  background:#8a9ecd;
  transform:scale(1.05);
}

.hide {
  display: none;
}

/*bagian kanan kiri*/
.game-container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 50px;
}
.info-player {
  text-align: left;

}
.history {
  text-align: left;
}
.info-player {
  text-align: left;
}
.info-player p {
  margin: 8px 0px;
}
#turn {
  margin-top: 25px;
  margin-bottom: 35px;
  font-weight: bold;
}
.history {
  text-align: left;
  width: 180px;
}
.history h3 {
  margin-bottom: 15px;
}
#history-list p {
  margin: 8px 0px;
}
#history-list {
  max-height: 250px;
  overflow-y: auto;
}